{% extends "base.html" %}

{% block title %} - Card{% endblock %}

{% block content %}
<h2 class="mb-4">Pokédex TCG Card</h2>

<div class="row">

    {% if not card %}
        <div class="alert alert-warning">
            No card found.
        </div>
    {% endif %}

    <div class="col-md-4 text-center">
        <img src="{{ card['images']['large'] }}"
             alt="{{ card['name'] }}"
             class="img-fluid rounded shadow card-detail-image">
    </div>

    <div class="col-md-8">

        <h2>
            {{ card["name"] }}
        </h2>

        <p>
            <strong>Artist:</strong>
            {{ card["artist"] }}
        </p>

        <p>
            <strong>Card Number:</strong>
            {{ card["number"] }}
        </p>

        <p>
            <strong>Card ID:</strong>
            {{ card["id"] }}
        </p>

        {% if card.get("supertype") == "Pokémon" %}

            <p>
                <strong>HP:</strong>
                {{ card.get("hp", "?") }}
            </p>

            <p>
                <strong>Type:</strong>
                {{ card.get("types", ["Unknown"])[0] }}
            </p>

            {% if card.get("evolvesFrom") %}
                <p>
                    <strong>Evolves From:</strong>
                    {{ card["evolvesFrom"] }}
                </p>
            {% endif %}

        {% endif %}

        <p>
            <strong>Rarity:</strong>
            {{ card.get("rarity", "Unknown") }}
        </p>

        <p>
            <strong>Set:</strong>
            {{ card["set"]["name"] }}
        </p>

        <p>
            <strong>Class:</strong>
            {{ card["supertype"] }}
        </p>

    </div>

</div>

{% if card.get("flavorText") %}
    <div class="mt-4">
        <h4>Flavor Text</h4>
        <p>
            {{ card["flavorText"] }}
        </p>
    </div>
{% endif %}

{% if card.get("attacks") %}

    <h4 class="mt-4">Attacks</h4>

    {% for attack in card["attacks"] %}

        <div class="card mb-3">

            <div class="card-body">

                <h5 class="card-title">
                    {{ attack["name"] }}
                </h5>

                {% if attack.get("damage") %}
                    <p>
                        <strong>Damage:</strong>
                        {{ attack["damage"] }}
                    </p>
                {% endif %}

                {% if attack.get("text") %}
                    <p class="card-text">
                        {{ attack["text"] }}
                    </p>
                {% endif %}

            </div>

        </div>

    {% endfor %}
{% endif %}

{% if card.get("weaknesses") %}

    <h4 class="mt-14">Weaknesses</h4>

    <div class="row">

        {% for weakness in card["weaknesses"] %}

            <div class="col-md-4 mb-3">

                <div class="card h-100">

                    <div class="card-body">

                        <h5 class="card-title">
                            {{ weakness["type"] }}
                        </h5>

                        <p>
                            <strong>Value:</strong>
                            {{ weakness["value"] }}
                        </p>

                    </div>

                </div>

            </div>

        {% endfor %}

    </div>

{% endif %}

{% if card.get("resistances") %}

    <h4 class="mt-14">Resistances</h4>

    <div class="row">

        {% for resistance in card["resistances"] %}

            <div class="col-md-4 mb-3">

                <div class="card h-100">

                    <div class="card-body">

                        <h5 class="card-title">
                            {{ resistance["type"] }}
                        </h5>

                        <p>
                            <strong>Value:</strong>
                            {{ resistance["value"] }}
                        </p>

                    </div>

                </div>

            </div>

        {% endfor %}

    </div>

{% endif %}

{% if card.get("rules") %}

    <h4 class="mt-4">Rules</h4>

    {% for rule in card["rules"] %}

        <div class="card mb-3">

            <div class="card-body">

                <p class="mb-0">
                    {{ rule }}
                </p>

            </div>

        </div>

    {% endfor %}

{% endif %}

<a href="{{ card.tcgplayer.url }}" style="text-decoration: none; color: inherit;" target="_blank">
    <h4 class="mt-4">TCGPlayer</h4>
</a>


<a href="{{ card.tcgplayer.url }}" class="text-decoration-none" target="_blank">

     <div class="row">

         <div class="col-md-4 mb-3">

             <div class="card h-100">

                 <div class="card-body">

                     <h5 class="card-title">
                        Prices
                     </h5>

                     <p>
                         <strong>Market: </strong>US$
                         {{
                            "%.2f"|format(
                               card.tcgplayer.prices.get('holofoil', {}).get('market')
                               or card.tcgplayer.prices.get('normal', {}).get('market')
                               or 'N/A'
                            )
                         }}
                     </p>

                     <p>
                         <strong>Lower: </strong>US$
                         {{
                            "%.2f"|format(
                                card.tcgplayer.prices.get('holofoil', {}).get('low')
                                or card.tcgplayer.prices.get('normal', {}).get('low')
                                or 0
                            )
                        }}
                     </p>

                     <p>
                         <strong>Mid: </strong>US$
                         {{
                            "%.2f"|format(
                                card.tcgplayer.prices.get('holofoil', {}).get('mid')
                                or card.tcgplayer.prices.get('normal', {}).get('mid')
                                or 0
                            )
                        }}
                     </p>

                 </div>

             </div>

         </div>

     </div>

</a>

<div class="mt-4">
    <a href="{{ url_for('cards.index') }}" class="btn btn-secondary">
        ← Back to Cards
    </a>
</div>

{% endblock %}
