{% extends "base.html" %}

{% block title%} - Cards{% endblock %}

{% block content %}

<h2 class="mb-4">Pokédex TCG Cards</h2>

<form method="GET" class="mb-4">

    <div class="input-group">

        <input type="text" name="search" class="form-control" placeholder="Search cards..." value="{{ search }}">

        <button type="submit" class="btn btn-danger">
            Search
        </button>

    </div>

</form>

<div class="row">

    {% if not cards %}
        <div class="alert alert-warning">
            No cards found.
        </div>
    {% endif %}

    {% for card in cards%}

        <div class="col-md-3 mb-4">

            <div class="card h-100 shadow-sm">

                <a href="{{ url_for('cards.card_detail', card_id=card['id']) }}">
                    <img src="{{ card['images']['small'] }}"
                         alt="{{ card['name'] }}"
                         class="card-img-top">
                </a>

                <div class="card-body text-center">

                    <h4 class="card-title">
                        <a href="{{ url_for('cards.card_detail', card_id=card['id']) }}"
                           class="text-decoration-none text-dark">
                            {{ card["name"] }}
                        </a>
                    </h4>

                    {% if card.get("supertype") == "Pokémon" %}

                        <p>
                            <strong>HP:</strong>
                            {{ card.get("hp", "?") }}
                        </p>

                        <p>
                            <strong>Type:</strong>
                            {{ card.get("types", ["Unknown"])[0] }}
                        </p>

                    {% endif %}

                    <p>
                        <strong>Rarity:</strong>
                        {{ card.get("rarity", "Unknown") }}
                    </p>

                    <p>
                        <strong>Set:</strong>
                        {{ card["set"]["name"] }}
                    </p>

                    <p>
                        <strong>Class:</strong>
                        {{ card["supertype"] }}
                    </p>

                </div>

            </div>

        </div>

    {% endfor %}

</div>

{% endblock %}
