{% extends "base.html" %}

{% block title %} - Profile{% endblock %}

{% block content%}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card shadow">
            <div class="card-body">
                <h2 class="mb-4">
                    Trainer Profile
                </h2>

                <p>
                    <strong>Trainer:</strong>
                    {{ current_user.username }}
                </p>

                <p>
                    <strong>Email:</strong>
                    {{ current_user.email }}
                </p>

                <a href="{{ url_for('main.edit_profile') }}" class="btn btn-danger">
                    Edit Profile
                </a>

                <hr>

                <h4>Collection Stats</h4>

                <p>
                    <strong>Cards Owned:</strong>
                    0
                </p>

                <p>
                    <strong>Favorite Cards:</strong>
                    0
                </p>

                <p>
                    <strong>Decks:</strong>
                    0
                </p>

            </div>
        </div>
    </div>
</div>
{% endblock %}