{% extends "base.html" %}

{% block title %} - Add Card{% endblock %}

{% block content %}

<div class="container">

    <div class="d-flex justify-content-between align-items-center mb-4">

        <div>

            <h2 class="mb-1">

                Add Cards

            </h2>

            <p class="text-muted mb-0">

                {{ deck.name }}

            </p>

            {% include "components/search_form.html" %}

        </div>


        <a
            href="{{ url_for('deck.detail', deck_id=deck.id) }}"
            class="btn btn-secondary"
        >

             ← Back to Deck

        </a>

    </div>

    <div class="row g-4">

        {% for card in cards %}

            <div class="col-md-4 col-lg-3">

                {% include "components/deck_add_card.html" %}

            </div>

        {% else %}

            <div class="col-12">

                <div class="alert alert-info text-center">

                    Your collection is empty.

                </div>

            </div>

        {% endfor %}

    </div>

</div>

{% endblock %}
